In [3]:
# AHP WEIGHT CALCULATOR

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# FUNCTION FOR CALCULATING CRITERIA PAIRWISE PRIORITY EIGEN VECTOR

In [39]:
def ahp_attributes(ahp_df):
    # Creating an array of sum of values in each column
    sum_array = np.array(ahp_df.sum(numeric_only=True))
    # Creating a normalized pairwise comparison matrix.
    # By dividing each column cell value with the sum of the respective column.
    cell_by_sum = ahp_df.div(sum_array,axis=1)
    print("\n")
    print("NORMALIZED CRITERIA MATRIX")
    print("------------------")
    print(cell_by_sum)
    # Creating Priority index by taking avg of each row
    priority_df = pd.DataFrame(cell_by_sum.mean(axis=1),
                               index=ahp_df.index,columns=['priority index'])
    #priority_df = priority_df.transpose()
    return priority_df

In [7]:
# FUNCTION FOR CALCULATINNG CONSISTENCY RATIO OF THE NORMALIZED CRITERIA MATRIX

In [8]:
def consistency_ratio(priority_index,ahp_df):
    random_matrix = {1:0,2:0,3:0.58,4:0.9,5:1.12,6:1.24,7:1.32,
                     8:1.14,9:1.45,10:1.49,11:1.51,12:1.48,13:1.56,
                     14:1.57,15:1.59,16:1.605,17:1.61,18:1.615,19:1.62,20:1.625}
    # Check for consistency
    consistency_df = ahp_df.multiply(np.array(priority_index.loc['priority index']),axis=1)
    consistency_df['sum_of_col'] = consistency_df.sum(axis=1)
    # To find lambda max
    lambda_max_df = consistency_df['sum_of_col'].div(np.array(priority_index.transpose()
                                                              ['priority index']),axis=0)
    lambda_max = lambda_max_df.mean()
    # To find the consistency index
    consistency_index = round((lambda_max-len(ahp_df.index))/(len(ahp_df.index)-1),3)
    print(f'The Consistency Index is: {consistency_index}')
    # To find the consistency ratio
    consistency_ratio = round(consistency_index/random_matrix[len(ahp_df.index)],3)
    print(f'The Consistency Ratio is: {consistency_ratio}')
    if consistency_ratio<0.1:
        print('The model is consistent')
    else:
        print('The model is not consistent')

In [9]:
# FUNCTION FOR CALCULATING THE PROPERTY WISE PRIORITY EIGEN VECTOR

In [10]:
def property_priority_index(property_attr_df,num_attr,attr_name):
    data_dict = {}
    # To find supplier priority indices
    # Supplier priority for attr 1
    data_dict[f"ahp_df_property_{attr_name}"] = property_attr_df.loc[attr_name]
    # Creating an array of sum of values in each column
    data_dict[f"sum_array_property_{attr_name}"] = np.array(data_dict[
        f"ahp_df_property_{attr_name}"].sum(numeric_only=True))
    # Normalised pairwise comparison matrix
    # Dividing each column cell value with the sum of the respective column.
    data_dict[f"norm_mat_property_{attr_name}"] = data_dict[
        f"ahp_df_property_{attr_name}"].div(data_dict[f"sum_array_property_{attr_name}"],axis=1)
    priority_df = pd.DataFrame(data_dict[
        f"norm_mat_property_{attr_name}"].mean(axis=1),
                               index=property_attr_df.loc[attr_name].index,columns=[attr_name])
    return priority_df

In [11]:
#. READING CRITERIA PAIRWISE MATRIX

In [12]:
ahp_df = pd.read_csv('pair_wise_data.csv')
ahp_df.set_index('CRITERIAS', inplace=True)
ahp_df

               Price      Size  Bedrooms  Bathrooms  Ammenities
CRITERIAS
Price       1.000000  0.333333         3       0.50    0.250000
Size        3.000000  1.000000         5       0.50    0.333333
Bedrooms    0.333333  0.200000         1       0.25    0.166667
Bathrooms   2.000000  2.000000         4       1.00    0.500000
Ammenities  4.000000  3.000000         6       2.00    1.000000

In [40]:
# Calling the ahp_attributes function, 
# To return a table with the priority index for each attribute.
priority_index_attr = ahp_attributes(ahp_df)
print("\n")
print("CRITERIA WISE PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_index_attr)
print("\n")

NORMALIZED CRITERIA MATRIX
------------------
               Price      Size  Bedrooms  Bathrooms  Ammenities
CRITERIAS
Price       0.096774  0.051020  0.157895   0.117647    0.111111
Size        0.290323  0.153061  0.263158   0.117647    0.148148
Bedrooms    0.032258  0.030612  0.052632   0.058824    0.074074
Bathrooms   0.193548  0.306122  0.210526   0.235294    0.222222
Ammenities  0.387097  0.459184  0.315789   0.470588    0.444444


CRITERIA WISE PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
CRITERIAS
Price             0.106890
Size              0.194467
Bedrooms          0.049680
Bathrooms         0.233543
Ammenities        0.415421

In [17]:
consistency_ratio(priority_index_attr,ahp_df)

The Consistency Index is: 0.048
The Consistency Ratio is: 0.043
The model is consistent

In [31]:
ahp_sub_criteria_size_df = pd.read_csv('ahp_Size.csv')
ahp_sub_criteria_size_df.set_index('SUB_CRITERIAS', inplace=True)
display(ahp_sub_criteria_size_df)

ahp_sub_criteria_bedrooms_df = pd.read_csv('ahp_bedrooms.csv')
ahp_sub_criteria_bedrooms_df.set_index('SUB_CRITERIAS', inplace=True)
display(ahp_sub_criteria_bedrooms_df)

ahp_sub_criteria_ammenities_df = pd.read_csv('ahp_ammenities.csv')
ahp_sub_criteria_ammenities_df.set_index('SUB_CRITERIAS', inplace=True)
display(ahp_sub_criteria_ammenities_df)

               Living Space  Garden Size
SUB_CRITERIAS
Living Space       1.000000            6
Garden Size        0.166667            1

                    Number of Bedrooms  Size_of_bedroom  Closet Space
SUB_CRITERIAS
Number of Bedrooms                1.00         0.333333             4
Size_of_bedroom                   3.00         1.000000             7
Closet Space                      0.25         0.142857             1

                  Driveway    Garage  Air Conditioning  Gas Heat
SUB_CRITERIAS
Driveway              1.00  0.333333               4.0         4
Garage                3.00  1.000000               7.0         5
Air Conditioning      0.25  0.142857               1.0         2
Gas Heat              0.25  0.200000               0.5         1

In [33]:
priority_index_Size = ahp_attributes(ahp_sub_criteria_size_df)
print("\n")
print("CRITERIA WISE PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_index_Size)
print("\n")

priority_index_Bedrooms = ahp_attributes(ahp_sub_criteria_bedrooms_df)
print("\n")
print("CRITERIA WISE PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_index_Bedrooms)
print("\n")

priority_index_Ammenities = ahp_attributes(ahp_sub_criteria_ammenities_df)
print("\n")
print("CRITERIA WISE PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_index_Ammenities)
print("\n")

NORMALIZED CRITERIA MATRIX
------------------
               Living Space  Garden Size
SUB_CRITERIAS
Living Space       0.857143     0.857143
Garden Size        0.142857     0.142857


CRITERIA WISE PRIORITY EIGEN VECTOR
-------------------------------------

               priority index
SUB_CRITERIAS
Living Space         0.857143
Garden Size          0.142857

NORMALIZED CRITERIA MATRIX
------------------
                    Number of Bedrooms  Size_of_bedroom  Closet Space
SUB_CRITERIAS
Number of Bedrooms            0.235294         0.225806      0.333333
Size_of_bedroom               0.705882         0.677420      0.583333
Closet Space                  0.058824         0.096774      0.083333


CRITERIA WISE PRIORITY EIGEN VECTOR
-------------------------------------

                    priority index
SUB_CRITERIAS
Number of Bedrooms        0.264811
Size_of_bedroom           0.655545
Closet Space              0.079644

NORMALIZED CRITERIA MATRIX
------------------
                  Driveway    Garage  Air Conditioning  Gas Heat
SUB_CRITERIAS
Driveway          0.222222  0.198863              0.32  0.333333
Garage            0.666667  0.596591              0.56  0.416667
Air Conditioning  0.055556  0.085227              0.08  0.166667
Gas Heat          0.055556  0.119318              0.04  0.083333


CRITERIA WISE PRIORITY EIGEN VECTOR
-------------------------------------

                  priority index
SUB_CRITERIAS
Driveway                0.268605
Garage                  0.559981
Air Conditioning        0.096862
Gas Heat                0.074552

In [34]:
criteria_lister = ['Price','Size','Bedrooms','Bathrooms','Ammenities']
sub_criteria_list = ['Size','Bedrooms','Ammenities']
Size_sc_list = ['Living Space' ,'Garden Size']
Bedrooms_sc_list = ['Number of Bedrooms','Size_of_bedroom','Closet Space']
Ammenities_sc_list = ['Driveway','Garage','Air Conditioning','Gas Heat']

In [35]:
Size_pe_list = []
Bedrooms_pe_list = []
Ammenitites_pe_list = []
Final_pe_list = []
for it in Size_sc_list:
    sub_var = priority_index_Size.loc[it]['priority index']
    Size_pe_list.append(sub_var)

for it in Bedrooms_sc_list:
    sub_var = priority_index_Bedrooms.loc[it]['priority index']
    Size_pe_list.append(sub_var)

for it in Ammenities_sc_list:
    sub_var = priority_index_Ammenities.loc[it]['priority index']
    Size_pe_list.append(sub_var)

print(Size_pe_list)

[0.8571427346939126, 0.14285726530608747, 0.26481124987586174, 0.6555450865452208, 0.0796436635789174, 0.2686047623877166, 0.5599811029775861, 0.09686235848362457, 0.07455177615107277]

In [41]:
cnter = 0
FINAL_criteria = []
FINAL_sub_criteria = []
FINAL_Relative_weight = []
FINAL_local_weight = []
FINAL_global_weight = []
for item in criteria_lister:
    var = priority_index_attr.loc[item]['priority index']
    if(item in sub_criteria_list):
        if(item == "Size"):
            for sub_item in Size_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                var = priority_index_attr.loc[item]['priority index']
                FINAL_Relative_weight.append(var)
                sub_var = Size_pe_list[cnter]
                #print(sub_var)
                FINAL_local_weight.append(sub_var)
                gvar = round(float(var)*float(sub_var),4)
                FINAL_global_weight.append(gvar)
                cnter+=1
        elif(item == "Bedrooms"):
            for sub_item in Bedrooms_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                var = priority_index_attr.loc[item]['priority index']
                FINAL_Relative_weight.append(var)
                sub_var = Size_pe_list[cnter]
                #print(sub_var)
                FINAL_local_weight.append(sub_var)
                gvar = round(float(var)*float(sub_var),4)
                FINAL_global_weight.append(gvar)
                cnter+=1
        elif(item == "Ammenities"):
            for sub_item in Ammenities_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                var = priority_index_attr.loc[item]['priority index']
                FINAL_Relative_weight.append(var)
                sub_var = Size_pe_list[cnter]
                #print(sub_var)
                FINAL_local_weight.append(sub_var)
                gvar = round(float(var)*float(sub_var),4)
                FINAL_global_weight.append(gvar)
                cnter+=1
            
        
            
            
    else:
        FINAL_criteria.append(item)
        FINAL_sub_criteria.append("None")
        var = priority_index_attr.loc[item]['priority index']
        FINAL_Relative_weight.append(var)
        FINAL_local_weight.append("")
        FINAL_global_weight.append(var)
        
        

weights_df = pd.DataFrame()
weights_df['CRITERIAS'] = FINAL_criteria
weights_df['RELATIVE_WEIGHT'] = FINAL_Relative_weight
weights_df['FACTORS'] = FINAL_sub_criteria
weights_df['LOCAL_WEIGHT'] = FINAL_local_weight
weights_df['GLOBAL_WEIGHT'] = FINAL_global_weight
weights_df

,CRITERIAS,RELATIVE_WEIGHT,FACTORS,LOCAL_WEIGHT,GLOBAL_WEIGHT
0,Price,0.106890,None,,0.106890
1,Size,0.194467,Living Space,0.857143,0.166700
2,Size,0.194467,Garden Size,0.142857,0.027800
3,Bedrooms,0.049680,Number of Bedrooms,0.264811,0.013200
4,Bedrooms,0.049680,Size_of_bedroom,0.655545,0.032600
5,Bedrooms,0.049680,Closet Space,0.079644,0.004000
6,Bathrooms,0.233543,None,,0.233543
7,Ammenities,0.415421,Driveway,0.268605,0.111600
8,Ammenities,0.415421,Garage,0.559981,0.232600
9,Ammenities,0.415421,Air Conditioning,0.096862,0.040200
10,Ammenities,0.415421,Gas Heat,0.074552,0.031000

In [49]:
ahp_size_living_space_df = pd.read_csv('ahp_living_space_alternatives.csv')
ahp_size_living_space_df.set_index('Living_Space', inplace=True)
display(ahp_size_living_space_df)

ahp_size_garden_size_df = pd.read_csv('ahp_garden_size_alternatives.csv')
ahp_size_garden_size_df.set_index('Garden_Size', inplace=True)
display(ahp_size_garden_size_df)

ahp_Number_of_Bedrooms_df = pd.read_csv('ahp_no_of_bedrooms_alternattivees.csv')
ahp_Number_of_Bedrooms_df.set_index('NO_of_bedrooms', inplace=True)
display(ahp_Number_of_Bedrooms_df)

ahp_Size_of_bedroom_df = pd.read_csv('ahp_size_of_bedroom_alternatives.csv')
ahp_Size_of_bedroom_df.set_index('Size_of_bedroom', inplace=True)
display(ahp_Size_of_bedroom_df)

ahp_Closet_Size_df = pd.read_csv('ahp_closet_size_alternatives.csv')
ahp_Closet_Size_df.set_index('Closet_Size', inplace=True)
display(ahp_Closet_Size_df)

ahp_ammenities_Driveway_df = pd.read_csv('ahp_driveway_alternatives.csv')
ahp_ammenities_Driveway_df.set_index('Driveway', inplace=True)
display(ahp_ammenities_Driveway_df)

ahp_ammenities_Garage_df = pd.read_csv('ahp_garage_alternatives.csv')
ahp_ammenities_Garage_df.set_index('Garage', inplace=True)
display(ahp_ammenities_Garage_df)

ahp_ammenities_Air_Conditioning_df = pd.read_csv('ahp_air_conditioning_alternatives.csv')
ahp_ammenities_Air_Conditioning_df.set_index('AIR_CONDITIONING', inplace=True)
display(ahp_ammenities_Air_Conditioning_df)


ahp_ammenities_Gas_Heat_df = pd.read_csv('ahp_gas_heat_alternatives.csv')
ahp_ammenities_Gas_Heat_df.set_index('Gas_Heat', inplace=True)
display(ahp_ammenities_Gas_Heat_df)

ahp_price_alternatives_df= pd.read_csv('ahp_price_altrnatives.csv')
ahp_price_alternatives_df.set_index('Price', inplace=True)
display(ahp_price_alternatives_df)

ahp_bathrooms_alternatives_df= pd.read_csv('ahp_bathrooms_alternatives.csv')
ahp_bathrooms_alternatives_df.set_index('bathrooms', inplace=True)
display(ahp_bathrooms_alternatives_df)

              Property 1  Proeprty 2  Property 3  Property 4  Property 5
Living_Space
Property 1             1         0.5        0.25        0.50           1
Proeprty 2             2         1.0        0.50        0.25           2
Property 3             4         2.0        1.00        2.00           4
Property 4             2         4.0        0.50        1.00           1
Property 5             1         0.5        0.25        1.00           1

             Property 1  Proeprty 2  Property 3  Property 4  Property 5
Garden_Size
Property 1            1         0.5    0.333333        0.25    0.333333
Proeprty 2            2         1.0    0.500000        0.25    1.000000
Property 3            3         2.0    1.000000        2.00    4.000000
Property 4            4         4.0    0.500000        1.00    2.000000
Property 5            3         1.0    0.250000        0.50    1.000000

                Property 1  Proeprty 2  Property 3  Property 4  Property 5
NO_of_bedrooms
Property 1               1         0.2    0.250000        0.50         0.5
Proeprty 2               5         1.0    0.500000        1.00         2.0
Property 3               4         2.0    1.000000        3.00         2.0
Property 4               2         1.0    0.333333        1.00         4.0
Property 5               2         0.5    0.500000        0.25         1.0

                 Property 1  Proeprty 2  Property 3  Property 4  Property 5
Size_of_bedroom
Property 1                1    0.250000    0.166667        0.25         0.5
Proeprty 2                4    1.000000    0.333333        0.20         3.0
Property 3                6    3.000000    1.000000        2.00         3.0
Property 4                4    5.000000    0.500000        1.00         4.0
Property 5                2    0.333333    0.333333        0.25         1.0

             Property 1  Proeprty 2  Property 3  Property 4  Property 5
Closet_Size
Property 1            1    0.500000    0.250000    1.000000           1
Proeprty 2            2    1.000000    0.333333    0.333333           3
Property 3            4    3.000000    1.000000    2.000000           3
Property 4            1    3.000000    0.500000    1.000000           4
Property 5            1    0.333333    0.333333    0.250000           1

            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Driveway
Property 1           1        0.25    0.166667    0.333333           1
Proeprty 2           4        1.00    0.200000    1.000000           1
Property 3           6        5.00    1.000000    5.000000           4
Property 4           3        1.00    0.200000    1.000000           2
Property 5           1        1.00    0.250000    0.500000           1

            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Garage
Property 1           1    0.333333        0.25    0.333333    0.333333
Proeprty 2           3    1.000000        0.50    1.000000    4.000000
Property 3           4    2.000000        1.00    1.000000    2.000000
Property 4           3    1.000000        1.00    1.000000    1.000000
Property 5           3    0.250000        0.50    1.000000    1.000000

                  Property 1  Proeprty 2  Property 3  Property 4  Property 5
AIR_CONDITIONING
Property 1                 1    0.200000    0.333333    0.200000         0.5
Proeprty 2                 5    1.000000    0.333333    0.500000         3.0
Property 3                 3    3.000000    1.000000    2.000000         2.0
Property 4                 5    2.000000    0.500000    1.000000         3.0
Property 5                 2    0.333333    0.500000    0.333333         1.0

            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Gas_Heat
Property 1           1           1    0.250000    0.250000           1
Proeprty 2           1           1    0.250000    0.333333           1
Property 3           4           4    1.000000    3.000000           4
Property 4           4           3    0.333333    1.000000           3
Property 5           1           1    0.250000    0.333333           1

            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Price
Property 1         1.0         0.5         2.0           2    0.500000
Proeprty 2         2.0         1.0         1.0           1    0.333333
Property 3         0.5         1.0         1.0           2    0.333333
Property 4         0.5         1.0         0.5           1    0.250000
Property 5         2.0         3.0         3.0           4    1.000000

            Property 1  Proeprty 2  Property 3  Property 4  Property 5
bathrooms
Property 1           1         1.0         1.0         1.0           1
Proeprty 2           1         1.0         1.0         1.0           2
Property 3           1         1.0         1.0         2.0           2
Property 4           1         1.0         0.5         1.0           2
Property 5           1         0.5         0.5         0.5           1

In [50]:
priority_size_living_space = ahp_attributes(ahp_size_living_space_df)
print("\n")
print("SUB CRITERIA WISE LIVING SPACE ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_size_living_space)
print("\n")

priority_size_garden_size = ahp_attributes(ahp_size_garden_size_df)
print("\n")
print("SUB CRITERIA WISE GARDEN SIZE ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_size_garden_size)
print("\n")

priority_Number_of_Bedrooms = ahp_attributes(ahp_Number_of_Bedrooms_df)
print("\n")
print("SUB CRITERIA WISE NO OF BEDROOMS ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_Number_of_Bedrooms)
print("\n")

priority_Size_of_bedroom = ahp_attributes(ahp_Size_of_bedroom_df)
print("\n")
print("SUB CRITERIA WISE SIZE OF BEDROOMS ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_Size_of_bedroom)
print("\n")


priority_Closet_Size = ahp_attributes(ahp_Closet_Size_df)
print("\n")
print("SUB CRITERIA WISE CLOSET SIZE ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_Closet_Size)
print("\n")

priority_ammenities_Driveway = ahp_attributes(ahp_ammenities_Driveway_df)
print("\n")
print("SUB CRITERIA WISE DRIVEWAY ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_ammenities_Driveway)
print("\n")

priority_ammenities_Garage = ahp_attributes(ahp_ammenities_Garage_df)
print("\n")
print("SUB CRITERIA WISE GARAGE ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_ammenities_Garage)
print("\n")

priority_ammenities_Air_Conditioning = ahp_attributes(ahp_ammenities_Air_Conditioning_df)
print("\n")
print("SUB CRITERIA WISE AIR CONDITIONING ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_ammenities_Air_Conditioning)
print("\n")

priority_ammenities_Gas_Heat = ahp_attributes(ahp_ammenities_Gas_Heat_df)
print("\n")
print("SUB CRITERIA WISE GAS HEAT ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_ammenities_Gas_Heat)
print("\n")

priority_price_alternatives = ahp_attributes(ahp_price_alternatives_df)
print("\n")
print("CRITERIA WISE PRICE ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_price_alternatives)
print("\n")

priority_bathrooms_alternatives = ahp_attributes(ahp_bathrooms_alternatives_df)
print("\n")
print("CRITERIA WISE BATHROOMS ALTERNATIVES PRIORITY EIGEN VECTOR")
print("-------------------------------------")
display(priority_bathrooms_alternatives)
print("\n")

NORMALIZED CRITERIA MATRIX
------------------
              Property 1  Proeprty 2  Property 3  Property 4  Property 5
Living_Space
Property 1           0.1      0.0625         0.1    0.105263    0.111111
Proeprty 2           0.2      0.1250         0.2    0.052632    0.222222
Property 3           0.4      0.2500         0.4    0.421053    0.444444
Property 4           0.2      0.5000         0.2    0.210526    0.111111
Property 5           0.1      0.0625         0.1    0.210526    0.111111


SUB CRITERIA WISE LIVING SPACE ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

              priority index
Living_Space
Property 1          0.095775
Proeprty 2          0.159971
Property 3          0.383099
Property 4          0.244327
Property 5          0.116827

NORMALIZED CRITERIA MATRIX
------------------
             Property 1  Proeprty 2  Property 3  Property 4  Property 5
Garden_Size
Property 1     0.076923    0.058824    0.129032      0.0625        0.04
Proeprty 2     0.153846    0.117647    0.193548      0.0625        0.12
Property 3     0.230769    0.235294    0.387097      0.5000        0.48
Property 4     0.307692    0.470588    0.193548      0.2500        0.24
Property 5     0.230769    0.117647    0.096774      0.1250        0.12


SUB CRITERIA WISE GARDEN SIZE ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

             priority index
Garden_Size
Property 1         0.073456
Proeprty 2         0.129508
Property 3         0.366632
Property 4         0.292366
Property 5         0.138038

NORMALIZED CRITERIA MATRIX
------------------
                Property 1  Proeprty 2  Property 3  Property 4  Property 5
NO_of_bedrooms
Property 1        0.071429    0.042553    0.096774    0.086957    0.052632
Proeprty 2        0.357143    0.212766    0.193548    0.173913    0.210526
Property 3        0.285714    0.425532    0.387097    0.521739    0.210526
Property 4        0.142857    0.212766    0.129032    0.173913    0.421053
Property 5        0.142857    0.106383    0.193548    0.043478    0.105263


SUB CRITERIA WISE NO OF BEDROOMS ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

                priority index
NO_of_bedrooms
Property 1            0.070069
Proeprty 2            0.229579
Property 3            0.366122
Property 4            0.215924
Property 5            0.118306

NORMALIZED CRITERIA MATRIX
------------------
                 Property 1  Proeprty 2  Property 3  Property 4  Property 5
Size_of_bedroom
Property 1         0.058824    0.026087    0.071429    0.067568    0.043478
Proeprty 2         0.235294    0.104348    0.142857    0.054054    0.260870
Property 3         0.352941    0.313043    0.428571    0.540541    0.260870
Property 4         0.235294    0.521739    0.214286    0.270270    0.347826
Property 5         0.117647    0.034783    0.142857    0.067568    0.086957


SUB CRITERIA WISE SIZE OF BEDROOMS ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

                 priority index
Size_of_bedroom
Property 1             0.053477
Proeprty 2             0.159485
Property 3             0.379193
Property 4             0.317883
Property 5             0.089962

NORMALIZED CRITERIA MATRIX
------------------
             Property 1  Proeprty 2  Property 3  Property 4  Property 5
Closet_Size
Property 1     0.111111    0.063830    0.103448    0.218182    0.083333
Proeprty 2     0.222222    0.127660    0.137931    0.072727    0.250000
Property 3     0.444444    0.382979    0.413793    0.436364    0.250000
Property 4     0.111111    0.382979    0.206897    0.218182    0.333333
Property 5     0.111111    0.042553    0.137931    0.054545    0.083333


SUB CRITERIA WISE CLOSET SIZE ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

             priority index
Closet_Size
Property 1         0.115981
Proeprty 2         0.162108
Property 3         0.385516
Property 4         0.250500
Property 5         0.085895

NORMALIZED CRITERIA MATRIX
------------------
            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Driveway
Property 1    0.066667    0.030303    0.091743    0.042553    0.111111
Proeprty 2    0.266667    0.121212    0.110092    0.127660    0.111111
Property 3    0.400000    0.606061    0.550459    0.638298    0.444444
Property 4    0.200000    0.121212    0.110092    0.127660    0.222222
Property 5    0.066667    0.121212    0.137615    0.063830    0.111111


SUB CRITERIA WISE DRIVEWAY ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
Driveway
Property 1        0.068475
Proeprty 2        0.147348
Property 3        0.527852
Property 4        0.156237
Property 5        0.100087

NORMALIZED CRITERIA MATRIX
------------------
            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Garage
Property 1    0.071429    0.072727    0.076923    0.076923        0.04
Proeprty 2    0.214286    0.218182    0.153846    0.230769        0.48
Property 3    0.285714    0.436364    0.307692    0.230769        0.24
Property 4    0.214286    0.218182    0.307692    0.230769        0.12
Property 5    0.214286    0.054545    0.153846    0.230769        0.12


SUB CRITERIA WISE GARAGE ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
Garage
Property 1        0.067600
Proeprty 2        0.259417
Property 3        0.300108
Property 4        0.218186
Property 5        0.154689

NORMALIZED CRITERIA MATRIX
------------------
                  Property 1  Proeprty 2  Property 3  Property 4  Property 5
AIR_CONDITIONING
Property 1            0.0625    0.030612      0.1250    0.049587    0.052632
Proeprty 2            0.3125    0.153061      0.1250    0.123967    0.315789
Property 3            0.1875    0.459184      0.3750    0.495868    0.210526
Property 4            0.3125    0.306122      0.1875    0.247934    0.315789
Property 5            0.1250    0.051020      0.1875    0.082645    0.105263


SUB CRITERIA WISE AIR CONDITIONING ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

                  priority index
AIR_CONDITIONING
Property 1              0.064066
Proeprty 2              0.206064
Property 3              0.345616
Property 4              0.273969
Property 5              0.110286

NORMALIZED CRITERIA MATRIX
------------------
            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Gas_Heat
Property 1    0.090909         0.1        0.12    0.050847         0.1
Proeprty 2    0.090909         0.1        0.12    0.067797         0.1
Property 3    0.363636         0.4        0.48    0.610170         0.4
Property 4    0.363636         0.3        0.16    0.203390         0.3
Property 5    0.090909         0.1        0.12    0.067797         0.1


SUB CRITERIA WISE GAS HEAT ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
Gas_Heat
Property 1        0.092351
Proeprty 2        0.095741
Property 3        0.450761
Property 4        0.265405
Property 5        0.095741

NORMALIZED CRITERIA MATRIX
------------------
            Property 1  Proeprty 2  Property 3  Property 4  Property 5
Price
Property 1    0.166667    0.076923    0.266667         0.2    0.206897
Proeprty 2    0.333333    0.153846    0.133333         0.1    0.137931
Property 3    0.083333    0.153846    0.133333         0.2    0.137931
Property 4    0.083333    0.153846    0.066667         0.1    0.103448
Property 5    0.333333    0.461538    0.400000         0.4    0.413793


CRITERIA WISE PRICE ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
Price
Property 1        0.183431
Proeprty 2        0.171689
Property 3        0.141689
Property 4        0.101459
Property 5        0.401733

NORMALIZED CRITERIA MATRIX
------------------
            Property 1  Proeprty 2  Property 3  Property 4  Property 5
bathrooms
Property 1         0.2    0.222222       0.250    0.181818       0.125
Proeprty 2         0.2    0.222222       0.250    0.181818       0.250
Property 3         0.2    0.222222       0.250    0.363636       0.250
Property 4         0.2    0.222222       0.125    0.181818       0.250
Property 5         0.2    0.111111       0.125    0.090909       0.125


CRITERIA WISE BATHROOMS ALTERNATIVES PRIORITY EIGEN VECTOR
-------------------------------------

            priority index
bathrooms
Property 1        0.195808
Proeprty 2        0.220808
Property 3        0.257172
Property 4        0.195808
Property 5        0.130404

In [72]:
def property_populator(property_list,priority_df):
    FINAL_property_1 = []
    
    
    for item in property_list:
        sub_var = priority_df.loc[item]['priority index']
        if(item == "Property 1"):
            FINAL_property_1.append(sub_var)
        elif(item == "Proeprty 2"):
            FINAL_property_1.append(sub_var)
        elif(item == "Property 3"):
            FINAL_property_1.append(sub_var)
        elif(item == "Property 4"):
            FINAL_property_1.append(sub_var)
        elif(item == "Property 5"):
            FINAL_property_1.append(sub_var)
            
    return FINAL_property_1

In [129]:
property_lst = ['Property 1','Proeprty 2','Property 3','Property 4','Property 5']
WEIGHTS_property_1 = []
WEIGHTS_property_2 = []
WEIGHTS_property_3 = []
WEIGHTS_property_4 = []
WEIGHTS_property_5 = []

In [130]:
TMP_property_1 = property_populator(property_lst,priority_price_alternatives)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_size_living_space)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_size_garden_size)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_Number_of_Bedrooms)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_Size_of_bedroom)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_Closet_Size)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_bathrooms_alternatives)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_ammenities_Driveway)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_ammenities_Garage)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_ammenities_Air_Conditioning)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

TMP_property_1 = property_populator(property_lst,priority_ammenities_Gas_Heat)
WEIGHTS_property_1.append(TMP_property_1[0])
WEIGHTS_property_2.append(TMP_property_1[1])
WEIGHTS_property_3.append(TMP_property_1[2])
WEIGHTS_property_4.append(TMP_property_1[3])
WEIGHTS_property_5.append(TMP_property_1[4])

In [131]:
print(WEIGHTS_property_1)

[0.18343060381109494, 0.0957748538011696, 0.07345574272328145, 0.07006881392796269, 0.05347700795356536, 0.1159808745687537, 0.19580808080808082, 0.06847544894928276, 0.06760036423161048, 0.06406610252294773, 0.09235131492615682]

In [ ]:
property_lst = ['Property 1','Property 2','Property 3','Property 4','Property 5']
FINAL_property_1 = []
FINAL_property_2 = []
FINAL_property_3 = []
FINAL_property_4 = []
FINAL_property_5 = []


        

for it in Bedrooms_sc_list:
    sub_var = priority_index_Bedrooms.loc[it]['priority index']
    Size_pe_list.append(sub_var)

for it in Ammenities_sc_list:
    sub_var = priority_index_Ammenities.loc[it]['priority index']
    Size_pe_list.append(sub_var)

print(Size_pe_list)

In [83]:
global_weights = weights_df['GLOBAL_WEIGHT']
print(global_weights[0])
criteria_lister = ['Price','Size','Bedrooms','Bathrooms','Ammenities']
sub_criteria_list = ['Size','Bedrooms','Ammenities']
Size_sc_list = ['Living Space' ,'Garden Size']
Bedrooms_sc_list = ['Number of Bedrooms','Size_of_bedroom','Closet Space']
Ammenities_sc_list = ['Driveway','Garage','Air Conditioning','Gas Heat']

0.10688950168862052

In [137]:
print(global_weights)

0     0.106890
1     0.166700
2     0.027800
3     0.013200
4     0.032600
5     0.004000
6     0.233543
7     0.111600
8     0.232600
9     0.040200
10    0.031000
Name: GLOBAL_WEIGHT, dtype: float64

In [139]:
cnter = 0
FINAL_criteria = []
FINAL_property_1 = []
FINAL_property_2 = []
FINAL_property_3 = []
FINAL_property_4 = []
FINAL_property_5 = []
FINAL_sub_criteria = []
FINAL_criteria = []
SUB_FINAL_property_1 = []
SUB_FINAL_property_2 = []
SUB_FINAL_property_3 = []
SUB_FINAL_property_4 = []
SUB_FINAL_property_5 = []
FINAL_global_weight = []




for item in criteria_lister:
    if(item in sub_criteria_list):
        if(item == "Size"):
            for sub_item in Size_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                sub_var = global_weights[cnter]
                w1,w2,w3,w4,w5 = WEIGHTS_property_1[cnter],WEIGHTS_property_2[cnter],WEIGHTS_property_3[cnter],WEIGHTS_property_4[cnter],WEIGHTS_property_5[cnter]
                FINAL_global_weight.append(sub_var)
                FINAL_property_1.append(w1)
                FINAL_property_2.append(w2)
                FINAL_property_3.append(w3)
                FINAL_property_4.append(w4)
                FINAL_property_5.append(w5)
                var1 = round(float(sub_var) * float(w1),4)
                var2 = round(float(sub_var) * float(w2),4)
                var3 = round(float(sub_var) * float(w3),4)
                var4 = round(float(sub_var) * float(w4),4)
                var5 = round(float(sub_var) * float(w5),4)
                SUB_FINAL_property_1.append(var1)
                SUB_FINAL_property_2.append(var2)
                SUB_FINAL_property_3.append(var3)
                SUB_FINAL_property_4.append(var4)
                SUB_FINAL_property_5.append(var5)
                cnter+=1
        elif(item == "Bedrooms"):
            for sub_item in Bedrooms_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                sub_var = global_weights[cnter]
                w1,w2,w3,w4,w5 = WEIGHTS_property_1[cnter],WEIGHTS_property_2[cnter],WEIGHTS_property_3[cnter],WEIGHTS_property_4[cnter],WEIGHTS_property_5[cnter]
                FINAL_global_weight.append(sub_var)
                FINAL_property_1.append(w1)
                FINAL_property_2.append(w2)
                FINAL_property_3.append(w3)
                FINAL_property_4.append(w4)
                FINAL_property_5.append(w5)
                var1 = round(float(sub_var) * float(w1),4)
                var2 = round(float(sub_var) * float(w2),4)
                var3 = round(float(sub_var) * float(w3),4)
                var4 = round(float(sub_var) * float(w4),4)
                var5 = round(float(sub_var) * float(w5),4)
                SUB_FINAL_property_1.append(var1)
                SUB_FINAL_property_2.append(var2)
                SUB_FINAL_property_3.append(var3)
                SUB_FINAL_property_4.append(var4)
                SUB_FINAL_property_5.append(var5)
                cnter+=1
        elif(item == "Ammenities"):
            for sub_item in Ammenities_sc_list:
                FINAL_criteria.append(item)
                FINAL_sub_criteria.append(sub_item)
                sub_var = global_weights[cnter]
                w1,w2,w3,w4,w5 = WEIGHTS_property_1[cnter],WEIGHTS_property_2[cnter],WEIGHTS_property_3[cnter],WEIGHTS_property_4[cnter],WEIGHTS_property_5[cnter]
                FINAL_global_weight.append(sub_var)
                FINAL_property_1.append(w1)
                FINAL_property_2.append(w2)
                FINAL_property_3.append(w3)
                FINAL_property_4.append(w4)
                FINAL_property_5.append(w5)
                var1 = round(float(sub_var) * float(w1),4)
                var2 = round(float(sub_var) * float(w2),4)
                var3 = round(float(sub_var) * float(w3),4)
                var4 = round(float(sub_var) * float(w4),4)
                var5 = round(float(sub_var) * float(w5),4)
                SUB_FINAL_property_1.append(var1)
                SUB_FINAL_property_2.append(var2)
                SUB_FINAL_property_3.append(var3)
                SUB_FINAL_property_4.append(var4)
                SUB_FINAL_property_5.append(var5)
                cnter+=1
            
        
            
            
    else:
        FINAL_criteria.append(item)
        FINAL_sub_criteria.append("None")
        sub_var = global_weights[cnter]
        w1,w2,w3,w4,w5 = WEIGHTS_property_1[cnter],WEIGHTS_property_2[cnter],WEIGHTS_property_3[cnter],WEIGHTS_property_4[cnter],WEIGHTS_property_5[cnter]
        FINAL_global_weight.append(sub_var)
        FINAL_property_1.append(w1)
        FINAL_property_2.append(w2)
        FINAL_property_3.append(w3)
        FINAL_property_4.append(w4)
        FINAL_property_5.append(w5)
        var1 = round(float(sub_var) * float(w1),4)
        var2 = round(float(sub_var) * float(w2),4)
        var3 = round(float(sub_var) * float(w3),4)
        var4 = round(float(sub_var) * float(w4),4)
        var5 = round(float(sub_var) * float(w5),4)
        SUB_FINAL_property_1.append(var1)
        SUB_FINAL_property_2.append(var2)
        SUB_FINAL_property_3.append(var3)
        SUB_FINAL_property_4.append(var4)
        SUB_FINAL_property_5.append(var5)
        FINAL_Relative_weight.append(var)
        FINAL_local_weight.append("")
        cnter+=1
        
        
        

Zone_df = pd.DataFrame()
Zone_df['CRITERIAS'] = FINAL_criteria
Zone_df['SUB CRITERIAS'] = FINAL_sub_criteria
Zone_df['GLOBAL WEIGHT'] = FINAL_global_weight
Zone_df['LW_Property1'] = FINAL_property_1
Zone_df['LW_Property2'] = FINAL_property_2
Zone_df['LW_Property3'] = FINAL_property_3
Zone_df['LW_Property4'] = FINAL_property_4
Zone_df['LW_Property5'] = FINAL_property_5
Zone_df['GW_Property1'] = SUB_FINAL_property_1
Zone_df['GW_Property2'] = SUB_FINAL_property_2
Zone_df['GW_Property3'] = SUB_FINAL_property_3
Zone_df['GW_Property4'] = SUB_FINAL_property_4
Zone_df['GW_Property5'] = SUB_FINAL_property_5
Zone_df

,CRITERIAS,SUB CRITERIAS,GLOBAL WEIGHT,LW_Property1,LW_Property2,LW_Property3,LW_Property4,LW_Property5,GW_Property1,GW_Property2,GW_Property3,GW_Property4,GW_Property5
0,Price,None,0.106890,0.183431,0.171689,0.141689,0.101459,0.401733,0.0196,0.0184,0.0151,0.0108,0.0429
1,Size,Living Space,0.166700,0.095775,0.159971,0.383099,0.244327,0.116827,0.0160,0.0267,0.0639,0.0407,0.0195
2,Size,Garden Size,0.027800,0.073456,0.129508,0.366632,0.292366,0.138038,0.0020,0.0036,0.0102,0.0081,0.0038
3,Bedrooms,Number of Bedrooms,0.013200,0.070069,0.229579,0.366122,0.215924,0.118306,0.0009,0.0030,0.0048,0.0029,0.0016
4,Bedrooms,Size_of_bedroom,0.032600,0.053477,0.159485,0.379193,0.317883,0.089962,0.0017,0.0052,0.0124,0.0104,0.0029
5,Bedrooms,Closet Space,0.004000,0.115981,0.162108,0.385516,0.250500,0.085895,0.0005,0.0006,0.0015,0.0010,0.0003
6,Bathrooms,None,0.233543,0.195808,0.220808,0.257172,0.195808,0.130404,0.0457,0.0516,0.0601,0.0457,0.0305
7,Ammenities,Driveway,0.111600,0.068475,0.147348,0.527852,0.156237,0.100087,0.0076,0.0164,0.0589,0.0174,0.0112
8,Ammenities,Garage,0.232600,0.067600,0.259417,0.300108,0.218186,0.154689,0.0157,0.0603,0.0698,0.0508,0.0360
9,Ammenities,Air Conditioning,0.040200,0.064066,0.206064,0.345616,0.273969,0.110286,0.0026,0.0083,0.0139,0.0110,0.0044
10,Ammenities,Gas Heat,0.031000,0.092351,0.095741,0.450761,0.265405,0.095741,0.0029,0.0030,0.0140,0.0082,0.0030

In [168]:
priority_Ranker_alternatives = pd.DataFrame()
property_l = ['Property 1','Property 2','Property 3','Property 4','Property 5']
priority_Ranker_alternatives['Property_ID'] = property_l
sum_l =[]
percent_l = []

property_Val = []
for i in range(1,6):
    temp_var = Zone_df['GW_Property{}'.format(i)].sum()
    sum_l.append(temp_var)
    temp_percent = temp_var * 100
    temper = str(temp_percent) +" %"
    percent_l.append(temper)
priority_Ranker_alternatives['Eigen Value'] = sum_l
priority_Ranker_alternatives['Priority_Percent'] = percent_l
priority_Ranker_alternatives = priority_Ranker_alternatives.sort_values(by = 'Eigen Value', ascending=False)
priority_Ranker_alternatives['Rank'] = priority_Ranker_alternatives['Eigen Value'].rank(ascending=False)
priority_Ranker_alternatives['Rank'] = priority_Ranker_alternatives['Rank'].astype(int)

print("FINAL RANKING OF THE PROPERTIES ")
print("_________________________________")
display(priority_Ranker_alternatives)
print("\n")

FINAL RANKING OF THE PROPERTIES
_________________________________

  Property_ID  Eigen Value Priority_Percent  Rank
2  Property 3       0.3246          32.46 %     1
3  Property 4       0.2070           20.7 %     2
1  Property 2       0.1971          19.71 %     3
4  Property 5       0.1561          15.61 %     4
0  Property 1       0.1152          11.52 %     5